.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    background-color: khaki;
}

.my-name {
    margin-bottom: 10px;
}

.my-solo {
    margin-top: 10px;
}

.services-home {
    display: flex;
}

.services-home-card {
    border: 2px solid tomato;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}

.services-home-card img {
    width: 350px;
    border-radius: 10px;
}

.service-card-home-btn {
    padding: 15px 80px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    background: orange;
    border: none;
    border-radius: 10px;
}

.service-card-home-btn:hover {
    background-color: aquamarine;
}

.home-see-all-btn {
    padding: 25px 180px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: lightgreen;
    cursor: pointer;
}