/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(3, 2, 27);
    color: white;
}

.nav-logo {
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.nav-links li {
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
}

.nav-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background: rgb(30, 255, 0);
    cursor: pointer;
    margin-right: 10px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        position: absolute;
        list-style: none;
        left: 0;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: white;
    }

    .mobile-menu {
        position: absolute;
        display: block;
        right: 20px;
        font-size: 18px;
    }
}